.auth-page {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    position: relative;
    color:  black;
    margin-top: var(--navbar-height, 100px);
}
.auth-left {
    flex: 1;
    background-image: url("http://localhost:5000/uploads/pt1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    clip-path: polygon(0 0, 75% 0, 60% 100%, 0% 100%);
}
.mylabels {
  position: relative;
  width: 500px;
  height: 500px;
  margin: 30px auto;
}
.hex {
  width: 100px;
  height: 100px;
  background-color: white;
  border: 0.5px solid black;
  text-decoration: none;

clip-path: polygon(
  50% 0%,
  100% 25%,
  100% 75%,
  50% 100%,
  0% 75%,
  0% 25%
);
position: absolute;
display: flex;
align-items: center;
justify-content: center;
transition: transform 0.5s;
color: rgb(7, 7, 7);
font-weight: lighter;
border-radius: 10px;
}
.center {
  background-color: white;
  color: rgb(7, 7, 7);
}
.auth-right{

    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: end;
    padding: 16px;

}
.auth-right h1 {
  font-size: 35px;
}
@media (max-width:768px ){
    .auth-page{
        flex-direction: column;
    }
    .auth-left {
        width: 100%;
        height: 50vh;
        clip-path: none;
        flex: none;

    }
    .auth-left {
        background-color: #e6ebee;
    }
}

  
.auth-form {
    max-width: 400px;
    margin: 10px auto;
    border: 1px solid black;
    text-align: center;
    border-radius: 0.625rem;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    background-color: whitesmoke;
    color: black;
  }
  .auth-form h2 {
    color: black;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  input {
    padding: 0.625rem;
    font-size: 1rem;
  }
  
  button {
    width: 40%;
    padding: 0.625rem;
    font-size: 1rem;
    background-color: rgb(84, 84, 228);
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 0.45rem;
  }
  
  .toggle {
    margin-top: 0.625rem;
  }
  
  .link {
    color: #000;
    cursor: pointer;
    font-weight: lighter;
    margin-left: 5px;
  }
  

