.forgot {
    width: 100%;
    height: 90vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.forgot form {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    width: 250px;
    height: auto;
}
.forgot h2 {
    color: rgb(10, 9, 9);
    font-size: 2rem;
    margin-bottom: 2px;
}

.forgot h4 {
    margin-top: 50px;
    color: rgb(116, 115, 115);
     font-size: 16px;
    font-weight: lighter;
}
.forgot h3 {
    font-weight: lighter;
    margin-bottom: 2px;
    color: red;
    font-size: 16px;

}
.forgot form input {
    width: 100%;
    height: 25px;
    margin-bottom: 12px;
    border: 1px solid rgb(144, 143, 143);
}

.forgot form button {
    background-color: rgb(129, 222, 129);
    width: 50%;
    cursor: pointer;
    color: rgb(7, 7, 7);
    border: none;
    padding: 8px;
    font-size: 12px;
}

.forgot form button:hover {
    background-color: black;
    color: white;
}