.herittage {
    width: 100%;
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: var(--navbar-height, 100px);
}
.herittage button {
    width: 9%;
    cursor: pointer;
    border: none;
    background-color: rgb(129, 222, 129) ;
    padding: 8px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}
.heri1 {
    flex: 1;
    color: white;
    text-align: center; 
    background-color: black;  
    border-radius: 8px;
    margin-top: 5px;
}
.heri1 h1 {
    font-size: 3rem;
}
.heri1 h2 {
    font-size: 2rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.heri-middle {
    flex: 3;
    display: flex;
    flex-direction: row;
    gap: 2px;
    margin-top: 5px;
    
}
.middle1, .middle3 {
    flex: 1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.middle2 {
    flex: 3;
    background-color: rgb(129, 222, 129);
    border-radius: 8px;
    text-align: justify;
    justify-content: center;
    align-items: center;
}
.middle2 p {
    font-size: 20px;
    padding-right: 10px;
    padding-left: 10px;
    
}

.middle2 h1 {
    font-size: 26px;
    margin-bottom: 0px;
}
.middle2 hr {
    width: 80%;
    margin-left: 0px;
}
.heri2 {
    flex: 2;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 10px;
    gap: 20px;
}
.herittgae-images {
    width: 100%;
    object-fit: cover;
    height: 250px;
    border-radius: 0.5rem;
    display: block;
}
.image-titles {
       color: blue;
    font-size: 1.3rem;
}

.description {
    color: black;
    font-size: 1rem;
    text-align: justify;
}
.heri2 button {
    width: 30%;
    cursor: pointer;
    padding: 8px;
 background-color: rgb(129, 222, 129);
    border: none;
    border-radius: 8px;
    font-size: 13px;
    
}
.heri2 button:hover{
       background-color: black;
}
@media (max-width: 768px) {
.middle1, .middle3 {
    display: none;
}
.heri1 h1 {
    font-size: 1.5rem;
    text-align: center;

}
.heri1 h2 {
    font-size: 1rem;
    font-weight: lighter;
}
}


@media(max-width: 768px) {
    .heri2 {
        grid-template-columns: 1fr;
    }
    img {
        width: 100%;
        height: auto;
    }
    .image-titles {
        font-size: 14px;
        text-align: justify;
    }

}