.home {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-top: var(--navbar-height, 100px);
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(252, 252, 253);
}
.home-top {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column

}
.home-top1 {
  flex: 1;
  display: flex;
  flex-direction: row;


}
.home-top1l {
  flex: 1;
  background-image: url("http://localhost:5000/uploads/p4.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 10px;
   clip-path: polygon(0 0, 80% 0, 60% 100%, 0% 100%);
}

.home-top1r {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home-top2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}
.home-top2t {
flex: 1;
width: 100%;
margin-bottom: 10px;
}
.home-top2t .home-wrap {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3px;
  justify-content: space-between;
  margin: 0 3rem;
}
.home-wrap .home-box {
  background-color: rgb(129, 222, 129);
     height: 160px;
     padding: 10px;
} 
.home-box .forward  {
  color: rgb(129, 222, 129);
  background-color: white;
  width: 35px;
  height: 35px;
  border-radius: 50%;
cursor: pointer;
  border: 1px solid white;
  transition: transform 0.5s ease-in-out;
}
.home-box .forward:hover {
  background-color: black;
  color: white;
  border: none;

}
.home-wrap .home-box h4 {
      color: white;

}

.home-top2b {
  flex: 1;
  width: 100%;
   margin-top: 40px;
   margin-bottom: 0px;
}
.home-top2b .top-wrap {
  display: flex;
  flex-direction: column;
  margin: 0 3rem;
  gap: 8px;
}
.top-wrap .top-middle1 {
  width: 100%;
  height: 160px;
  background-color: rgb(129, 222, 129); ;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.top-wrap .top-middle2 {
  width: 100%;
  height: 50px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: justify;

}
.top-middle1 button {
  background-color: white;
  width: 55%;
  cursor: pointer;
  border: none;
  border-radius: 98px;
}
.top-middle1 button:hover {
  background-color: rgb(241, 186, 83);
}
.home-bottom {
  display: flex;
  flex-direction: column;
}
.home-bottom1 {
  flex: 1;
  width: 100%;
  margin-top: 20px;

}
.home-bottom1  .bottom-wrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  margin: 0 3rem;
  gap: 20px;
  
}
.bottom-wrap .bottom-box {
    height: 450px;
    display: flex;
    flex-direction: column;
  
    margin-bottom: 10px;
        border-radius: 8px;
}
.bottom-box .img-cont{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
  border-radius: 8px;
}
.bottom-box .img-cont img {
  width: 100%;
  height: auto;

}
.bottom-box .news-cont {
  flex: 1;
  text-align: justify;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2px;
  margin: 0 8px;
    border-radius: 8px;
}
.bottom-box  img:hover  {
  background-color: rgb(240, 238, 238);

}
.bottom-box .link-container {
  text-align: justify;
  text-decoration: none;
  color: black;
  font-weight: bold;
  margin-top: 0px;
}
.bottom-box .link-container:hover {
  color: rgb(21, 232, 21);
}

.bottom-box .link-container1 {
    color: rgb(21, 232, 21);
  text-align: justify;
  text-decoration: none;
  font-weight: bold;
  margin-top: 0px;
}
.bottom-box .link-container1:hover {
  color: black;
}
.home-bottom1 .view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home-bottom1 .view button {
  color: white;
  background-color: rgb(129, 222, 129);
  width: 12%;
  padding: 3;
  border-radius: 8px;
  border: none;
}
.home-bottom1 .view button:hover {
  color: white;
  background-color: black;
}

.home-bottom2 {
  display: flex;
  flex-direction: row;
  height: 90vh;
  margin-top: 15px;
  margin-bottom: 20px;
}
.home-bottom2l {
  flex: 1;
  background-color: rgb(129, 222, 129);
  display: flex;
  flex-direction: column;
text-align: center;
}
.opps {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 2rem;
  border-radius: 8px;
  background-color: white;
  text-align: center;
}
.home-bottom2r {
  flex: 2.5;
  background-image: url("http://localhost:5000/uploads/pt5.jpeg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  display: flex;
  flex-direction: column;
}
.home-bottom2r .bottom-right1 {
  flex: 1;
  color: white;
  text-align: center;
}
.home-bottom2r .bottom-right2 {
  flex: 5;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 2rem;
  gap: 15px;
}
.bottom-right2 .side {
  height: 350px;
  border-radius: 8px;
  padding: 10px;
  overflow: hidden;
  background-color: rgba(6, 6, 6, 0.5);
  color: white;
}
.side ul {
  display: flex;
  flex-direction: column;

}
.side ul li {
  font-size: 30px;
  font-weight: bold;
}
.circles-container  {
  text-align: center;


}
.circle {
  width: 80px;
  height: 80px;
  background-color: black;
  color: white;
  margin-bottom: 10px;
  font-size: 16px;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 50%;
}
.circle1 {
  width: 80px;
  height: 80px;
  background-color:  rgb(129, 222, 129);
  color: white;
  margin-bottom: 10px;
  font-size: 16px;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 50%;
}
.circle2 {
  width: 80px;
  height: 80px;
  background-color: red;
  color: white;
  margin-bottom: 10px;
  font-size: 16px;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 50%;
}
.divide {
  height: 75px;
  width: 2px;
  background-color: black;
}
.title a {
  color: black;
  text-decoration: none;
  font-weight: lighter;

}
.title a:hover {
  color: white;
  background-color: black;
  padding: 4px 8px;
  border-radius: 8px;
}
.home-bottom button {
  width: 10%;
  border: 1px solid  green;;
  background-color: transparent;
}
@media (max-width: 768px) {
 .home-bottom2r .bottom-right2 {
  grid-template-columns: 1fr;
 }

}
