.home {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: justify;
  margin-top: var(--navbar-height, 100px);
}
.home-top {
  flex: 1;
  background-color: white;
  margin-bottom: 2px;
  display: flex;
  justify-content: center;
  flex-direction: column;

}
.home-top h1 {
  margin-bottom: 0px;
  text-align: center;
  font-weight: lighter;
  border: none;
}

.home-top hr {
  width: 98%;
  background-color: rgb(129, 222, 129);
  height: 2px;
  border: none;
  margin-top: 0px;
  border-top: px solid rgb(129, 222, 129);;
}
.home-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  margin: 0 9rem;
}
.circles-container  {
  text-align: center;

}
.circle {
  width: 80px;
  height: 80px;
  background-color: black;
  color: white;
  margin-bottom: 10px;
  font-size: 16px;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 50%;
}
.circle1 {
  width: 80px;
  height: 80px;
  background-color:  rgb(129, 222, 129);
  color: white;
  margin-bottom: 10px;
  font-size: 16px;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 50%;
}
.circle2 {
  width: 80px;
  height: 80px;
  background-color: red;
  color: white;
  margin-bottom: 10px;
  font-size: 16px;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 50%;
}
.divide {
  height: 75px;
  width: 2px;
  background-color: black;
}
.title a {
  color: black;
  text-decoration: none;
  font-weight: lighter;

}
.title a:hover {
  color: white;
  background-color: black;
  padding: 4px 8px;
  border-radius: 8px;
}
form  {
  width: 100%;
  background-color: white;
}
form fieldset {
  border: 1px solid rgb(12, 12, 12);
  margin-bottom: 10px;
  border-radius: 8px;
}


 form img {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  margin-bottom: 0px;
}

form h1 {
  color: red;
  font-weight: lighter;
  font-size: 18px;
  margin-top: 0 ;
  margin-bottom: 0px;
}
form p {
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 0px;
  text-align: justify;
}
.home-bottom button {
  width: 10%;
  border: 1px solid  green;;
  background-color: transparent;
}
form  .star {
  color: red
}
@media (max-width: 768px) {
  .home-bottom {
    flex-direction: column;
  }

}
