.home {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: justify;
      margin-top: var(--navbar-height, 100px);
}
.home-top {
  flex: 1;
  background-color: white;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;

}
.home-top h1 {
  margin-bottom: 0px;
  text-align: center;
  font-weight: lighter;
  border: none;
}
.home-top button {
  width: 5%;
}
.home-top hr {
  width: 98%;
  background-color: rgb(129, 222, 129);
  height: 2px;
  border: none;
  margin-top: 0px;
  border-top: px solid rgb(129, 222, 129);;
}
.home-bottom {
  flex: 2;
  display: flex;;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  margin-top: 20px;
  gap: 10px;
  margin-bottom: 20px;

}
.home-botleft {
  padding-left: 10px;
  flex: 2;

}
.home-botright {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: 20px;

}
.circles-container  {
  text-align: center;

}
.circle {
  width: 80px;
  height: 80px;
  background-color: black;
  color: white;
  margin-bottom: 10px;
  font-size: 16px;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 50%;
}
.circle1 {
  width: 80px;
  height: 80px;
  background-color: green;
  color: white;
  margin-bottom: 10px;
  font-size: 16px;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 50%;
}
.circle2 {
  width: 80px;
  height: 80px;
  background-color: red;
  color: white;
  margin-bottom: 10px;
  font-size: 16px;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 50%;
}
.divide {
  height: 75px;
  width: 1px;
  background-color: black;
}
.title a {
  color: black;
  text-decoration: none;
  font-weight: lighter;
  
}
.title a:hover {
  color: white;
  background-color: black;
  padding: 4px 8px;
  border-radius: 8px;
  

}

.home-botleft .home-butleft {
  display: inline-block;
  width: 20%;
  color: white;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  color: white;
  font-weight: bold;
  background-color: green;
  padding: 8px 16px;


}

form  {
  width: 100%;
  background-color: white;
}

form fieldset {
  border: 1px solid rgb(12, 12, 12);
  margin-bottom: 10px;
}


 form img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  margin-bottom: 0px;
}

form h1 {
  color: red;
  font-weight: lighter;
  font-size: 16px;
  margin-top: 0 ;
  margin-bottom: 0px;
}
form p {
  font-size: 12px;
  margin-top: 0;
  margin-bottom: 0px;
}
@media (max-width: 768px) {
  .home-bottom {
    flex-direction: column;
  }
  .home-botright, .home-botleft {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .home-butleft {
    width: 100%;
  }
}