.navbar {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

}
.nav-top {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px;
    gap: 20px;
          background-color: rgb(129, 222, 129)
}
.contacts {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 0;
    font-size: 18px;
    font-weight: lighter;
}
.contacts a {
    text-decoration: none;
    color: black;
}
.nav-bot {
    flex: 2;
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;     
     background-color: black;
  ;
}
.logo1 {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px;

}
.logo-middle {
    flex: 6;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.homie-icon {
    display: flex;
    align-items: center;
    gap: 5px;
    color: white;
}
.home-size {
    vertical-align: middle;
    font-size: 14px;
}
.logo2 {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px;

}

.logo2 button, .logo1 button {
    background-color: rgb(129, 222, 129);
    cursor: pointer;
    border: 2px solid white;
    color: black;
    width: 45%;
    padding: 4px;
    border-radius: 8px;
}
.logo2 button:hover {
    background-color: white;
    
}
.logo1 button:hover {
    background-color: white;
    
}

.nav-bot .links {
    text-decoration: none;
    padding: 10px;
    position: relative;
    color: white;
}
.nav-bot .links:hover {
    color:rgb(129, 222, 129) ;
}
.main-pages {
    position: relative;
    display: inline-block;
}
.subpages {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 170px;
    z-index: 1000;
    background-color: white;
    border-radius: 8px;
    box-shadow:  0px 8px 16px rgba(0,0,0,0.2) ;
}
.subpages a {
    color: black;
    display: block;
    text-decoration: none;
    padding: 10px 16px;
    border-radius: 8px;
}
.subpages a:hover {
    background-color: rgb(207, 205, 205);
    color: black;
}
.main-pages:hover .subpages {
    display: flex;
}
.nav-bot img {
    width: 56px;
    height: 56px;
    border-radius: 90px;
}

.menu-bar {
    display: none;
    color: white;
    padding: 8px;
    cursor: pointer;
    margin-top: 7px;
}
@media (max-width: 900px) {
    .nav-top {
        flex-direction: column;
        gap: 5px;
    }
    .menu-bar {
        display: inline-block
    }

    .logo-middle {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: rgb(8, 8, 8) ;
        padding: 10px 0;
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        z-index: 999;
    }
    .logo-middle.open {
        display: flex;
    }

    .main-pages {
        width: 100%;
        position: relative;

    }

    .main-pages:hover .sub-pages {
        display: none;
    }

    .subpages{
        position: relative;
        top: 0;
        left: 0;
        background-color: white;
        padding-left: 15px;
        box-shadow: none;
    }
    .subpages.open {
        display: flex;
        flex-direction: column;

    }

    .nav-bot .links {
        display: block;
        font-weight: 500;
        color: black;
        padding: 10px 20px;
        font-size: 14px;
        color: white;
    }
}