.spreadsheet {
    width: 100%;
    height: auto;
    margin: 16px;
}

.table-pot {
    overflow: auto;
    width: 100%;
}
.spreadsheet button {
    width: 14%;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    background-color: white;
    margin-top: 16px;
}
.spreadsheet button:hover{
    background-color: rgb(129, 222, 129);

}
.spreadsheet table {
    border-collapse: collapse;
    width: 100%;
    background-color: white;
    table-layout: auto;
    min-width: 799px;
}
.spreadsheet th, .spreadsheet td {
    text-align: justify;
    background-color: white;
    font-size: 1rem;
    padding: 8px;
    font: 14px;
    border: 1px solid balck;
    
}
@media screen and (max-width: 768px) {
    .spreadsheet table {
        font-size: 12px;
        min-width: 600px;
        font-size: 12px;
    }
    .spreadsheet button {
        width: 30%;
    }
}