.tender-form {
    width: 100%;
    height: auto;margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: var(--navbar-height, 100px);display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tender-form  {
    width: 100%;
    max-width: 1200px;
    background-color: white;
    margin: 0 3rem;
    gap: 2rem;
}
form fieldset {
    border: 1px solid grey;
}

.form .tender-layout {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 16px;
    row-gap: 18px;
    column-gap: 20px;
    gap: 20px;
}